<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MOWOX copy.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>MOWOXROBOT copy 2.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>MOWOXROBOTROBOT.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>MOWOX_BLU copy.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>MOWOX_BLU.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>MOWOX_GN.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>MOWOX_Park.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<true/>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>360069572265AC3F00F4EEB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36006A392265AFDB00F4EEB2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>36090B5C2276E597001CF035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>368E4ED1238D1B8300AFE3B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>368E4F98238D296E00AFE3B3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E6325211FA6BC5F00F14462</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
